<section
  id="section3"
  class="h-[40rem] w-screen flex items-center relative justify-center z-20 mt-52"
>
  <div class="w-full flex justify-evenly gap-32 ml-16 mr-16">
    <div class="flex flex-col gap-10 items-center w-[27rem] p-16">
      <img class="w-28 h-28" src="../../../assets/Icon_HD.svg" />
      <h3>Haute qualité</h3>
      <h3 class="text-center font-light text-xl">
        Proposez à votre audience une expérience live en HD, avec une qualité
        d'image et de son exceptionnelle. Chaque détail est net, chaque note est
        claire, pour un rendu fidèle et immersif.
      </h3>
    </div>
    <div class="flex flex-col gap-10 items-center w-[27rem] p-16">
      <img class="w-28 h-28" src="../../../assets/Logo_Cible.svg" />
      <h3>Personnalisation</h3>
      <h3 class="text-center font-light text-xl">
        Des lives personnalisés qui reflètent parfaitement votre événement et
        votre entreprise. Chaque diffusion est unique, adaptée à vos besoins et
        à votre identité.
      </h3>
    </div>
    <div class="flex flex-col gap-10 items-center w-[27rem] p-16">
      <img class="w-28 h-28" src="../../../assets/Icon_Shield.svg" />
      <h3>Fiabilité</h3>
      <h3 class="text-center font-light text-xl">
        Une fiabilité sans faille pour vos lives, assurant une diffusion fluide
        et sans interruption. Vos événements sont entre de bonnes mains, avec
        une performance constante et de haute qualité.
      </h3>
    </div>
  </div>
  <div
    class="absolute w-full h-full bg-neutral-950 blur-3xl -z-10 opacity-60"
  ></div>
</section>
