<section
  id="section3"
  class="w-screen flex items-center relative justify-center h-full lg:h-[20rem] xl:h-[40rem]"
>
  <div
    class="w-full h-full flex justify-evenly flex-wrap gap-28 lg:gap-8 mr-16 ml-16 lg:ml-8 lg:mr-8"
  >
    <div class="flex flex-col gap-10 items-center w-[85%] lg:w-[20rem]">
      <img class="size-24 xl:size-28" src="../../../assets/Icon_HD.svg" />
      <h3 class="text-3xl xl:text-4xl">Haute qualité</h3>
      <h3 class="text-center font-light text-lg xl:text-xl text-justify">
        Proposez à votre audience une expérience live en HD, avec une qualité
        d'image et de son exceptionnelle. Chaque détail est net, chaque note est
        claire, pour un rendu fidèle et immersif.
      </h3>
    </div>
    <div class="flex flex-col gap-10 items-center w-[85%] lg:w-[20rem]">
      <img class="size-24 xl:size-28" src="../../../assets/Logo_Cible.svg" />
      <h3 class="text-3xl xl:text-4xl">Personnalisation</h3>
      <h3 class="text-center font-light text-lg xl:text-xl text-justify">
        Des lives personnalisés qui reflètent parfaitement votre événement et
        votre entreprise. Chaque diffusion est unique, adaptée à vos besoins et
        à votre identité.
      </h3>
    </div>
    <div class="flex flex-col gap-10 items-center w-[85%] lg:w-[20rem]">
      <img class="size-24 xl:size-28" src="../../../assets/Icon_Shield.svg" />
      <h3 class="text-3xl xl:text-4xl">Fiabilité</h3>
      <h3 class="text-center font-light text-lg xl:text-xl text-justify">
        Une fiabilité sans faille pour vos lives, assurant une diffusion fluide
        et sans interruption. Vos événements sont entre de bonnes mains, avec
        une performance constante et de haute qualité.
      </h3>
    </div>
  </div>
  <div
    class="absolute w-full h-full bg-neutral-950 blur-3xl -z-10 opacity-60"
  ></div>
</section>
