.redshadow {
  -webkit-filter: drop-shadow(0px 0px 60px red);
}

.blueshadow {
  -webkit-filter: drop-shadow(0px 0px 60px rgb(25, 194, 255));
}

.purpleshadow {
  -webkit-filter: drop-shadow(0px 0px 60px rgb(170, 14, 255));
}
