<section
  id="section2"
  class="w-screen relative flex items-center justify-center overflow-hidden"
  [style]="{
    filter: 'brightness(' + calculateBrightness(scrollPercentage) + '%)'
  }"
>
  <div
    class="absolute top-14 z-10"
    [style]="{
              opacity: scrollPercentage * 8 - 1.2,
              transform: 'translateY(' + scrollPercentage * 20 + '%)',
            }"
  >
    <h2 class="text-2xl p-5 text-center xl:text-4xl">
      Diffusez sur toutes les plateformes<span class="text-primary">...</span>
    </h2>
  </div>

  <div class="absolute h-full scale z-20">
    <img
      class="max-w-max h-[40rem] lg:h-[40rem] xl:h-[50rem]"
      [style]="isMobile
      ? {}
      : {
        transform: 'translateY(' + scrollPercentage * 40 * animationRatioHeight + '%)',
      }"
      src="../../../assets/Mac_mockup_V3.png"
      alt=""
    />
  </div>
  <div
    class="absolute scale z-10"
    [style]="
      isMobile
        ? {}
        : { left: scrollPercentage * -30 + 15 * animationRatioWidth + '%' }
    "
  >
    <img
      class="h-[20rem] lg:h-[20rem] xl:h-[30rem] brightness-90"
      [style]="isMobile
      ? {}
      : {
        transform:
          'translateY(' +
          scrollPercentage * 35 * animationRatioHeight +
          '%) rotate(' +
          scrollPercentage * -35 +
          'deg)',
      }"
      src="../../../assets/Ipad.png"
      alt=""
    />
  </div>
  <div
    class="absolute scale z-10 right-80"
    [style]="
      isMobile
        ? {}
        : { right: scrollPercentage * -30 + 17 * animationRatioWidth + '%' }
    "
  >
    <img
      class="h-[5rem] lg:h-[15rem] xl:h-[20rem] left-0 brightness-90"
      [style]="
        isMobile
          ? {}
          : {
              transform:
                'translateY(' +
                scrollPercentage * 40 * animationRatioHeight +
                '%) rotate(' +
                scrollPercentage * 35 +
                'deg)',
              filter:
                'brightness(' +
                calculateBrightness(scrollPercentage) +
                -150 +
                '%)'
            }
      "
      src="../../../assets/iPhone 15.png"
      alt=""
    />
  </div>
  <div class="relative h-screen w-screen overflow-hidden">
    <img
      class="purpleshadow absolute right-[45%] bottom-[80%] -rotate-3 h-[3.5rem] lg:h-[5rem] xl:h-[6rem] w-auto"
      [style]="
        isMobile
          ? {}
          : {
              right: calculateTwitchRight(scrollPercentage) + 'px',
              bottom: calculateIconBottom(scrollPercentage) + 'px',
              transform: 'rotate(' + scrollPercentage * -20 + 'deg)'
            }
      "
      src="../../../assets/Twitch_logo.png"
      alt=""
    />
    <img
      class="blueshadow absolute right-[20%] bottom-[80%] -rotate-6 h-[3.5rem] lg:h-[4rem] xl:h-[5rem]"
      [style]="
        isMobile
          ? {}
          : {
              right: calculateLinkedinRight(scrollPercentage) + 'px',
              bottom: calculateIconBottom(scrollPercentage) + 'px',
              transform: 'rotate(' + scrollPercentage * -50 + 'deg)'
            }
      "
      src="../../../assets/Linkedin_logo.png"
      alt=""
    />
    <img
      class="redshadow absolute left-[20%] bottom-[80%] rotate-6 h-[3rem] w-[4rem] lg:h-[3rem] xl:h-[4rem] lg:w-[4.5rem] xl:w-[6rem]"
      [style]="
        isMobile
          ? {}
          : {
              left: calculateYoutubeLeft(scrollPercentage) + 'px',
              bottom: calculateIconBottom(scrollPercentage) + 'px',
              transform: 'rotate(' + scrollPercentage * 50 + 'deg)'
            }
      "
      src="../../../assets/Youtube_logo.png"
      alt=""
    />
  </div>
</section>
