<section id="section1" class="h-screen flex items-center justify-center">
  <div class="pt-80 flex items-center justify-center">
    <div class="flex-col">
      <h1
        class="text-white text-center font-bold xl:text-7xl lg:text-5xl md:text-4xl text-4xl p-8"
      >
        Capturez l'instant, vivez le
        <span class="text-primary">direct</span>
      </h1>
      <p
        class="text-white text-center font-thin xl:text-2xl xl:pt-8 xl:p-96 lg:pt-6 lg:p-52 lg:text-1xl md:pt-6 md:p-36 text-lg p-12 pt-6"
      >
        Avec SEAN Production, offrez à vos événements une retransmission en
        direct de qualité supérieure. Spécialisés dans le live, nous
        garantissons une expérience immersive sans limites. Contactez-nous pour
        faire vivre vos moments en ligne et en personne.
      </p>
    </div>
    <div
      class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ffffff] to-[#1eff00] opacity-10 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
        style="
          clip-path: polygon(
            74.1% 44.1%,
            100% 61.6%,
            97.5% 26.9%,
            85.5% 0.1%,
            80.7% 2%,
            72.5% 32.5%,
            60.2% 62.4%,
            52.4% 68.1%,
            47.5% 58.3%,
            45.2% 34.5%,
            27.5% 76.7%,
            0.1% 64.9%,
            17.9% 100%,
            27.6% 76.8%,
            76.1% 97.7%,
            74.1% 44.1%
          );
        "
      ></div>
    </div>
    <div
      class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#09ff00] to-[#fdfdfd] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
        style="
          clip-path: polygon(
            74.1% 44.1%,
            100% 61.6%,
            97.5% 26.9%,
            85.5% 0.1%,
            80.7% 2%,
            72.5% 32.5%,
            60.2% 62.4%,
            52.4% 68.1%,
            47.5% 58.3%,
            45.2% 34.5%,
            27.5% 76.7%,
            0.1% 64.9%,
            17.9% 100%,
            27.6% 76.8%,
            76.1% 97.7%,
            74.1% 44.1%
          );
        "
      ></div>
    </div>
  </div>
</section>
