<div id="landing" class="snap-container" #landing>
  <app-landing
    [scrollPercentage]="scrollPercentage"
    [isMobile]="isMobile"
    class="snap-item"
    id="home"
  ></app-landing>
  <app-plateformes
    [scrollPercentage]="scrollPercentage"
    [isMobile]="isMobile"
    [screenHeight]="screenHeight"
    [screenWidth]="screenWidth"
    [screenType]="screenType"
    class="snap-item"
    id="services"
  ></app-plateformes>
  <app-projets
    [scrollPercentage]="scrollPercentage"
    class="snap-item"
    id="projets"
  ></app-projets>
  <app-contact class="snap-item" id="contact"></app-contact>
</div>
